.tokenAdvantages {
  padding: 50px 10px;
  margin: 50px 0;

}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  background-image: linear-gradient(to right, #ffcc00, #C1A221);
  background-clip: text;
  -webkit-background-clip: text; // Pour la compatibilité avec Safari
  -webkit-text-fill-color: transparent; // Pour la compatibilité avec Safari
  font-size: 3rem;
}

.advantagesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.advantageItem {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px #000;
  background-color: #100D0D;

  img {
    margin-bottom: 10px;
    width: 100px;
  }

  h3 {
    margin-bottom: 10px;
    font-weight: bold;
    background-image: linear-gradient(to right, #ffcc00, #C1A221);
    background-clip: text;
    -webkit-background-clip: text; // Pour la compatibilité avec Safari
    -webkit-text-fill-color: transparent; // Pour la compatibilité avec Safari
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #f2f2f2;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .advantageItem {
    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }

  .advantagesGrid {
    grid-template-columns: repeat(2, 1fr); // Définit deux colonnes
    gap: 20px;
  }

  .advantageItem {
    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

