.roadmap {
  text-align: center;
  padding: 50px;
  background-color: #100D0D;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #000;
  margin: 100px;
  color: #F2F2F2; 

  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, #ffcc00, #C1A221);
    background-clip: text;
    -webkit-background-clip: text; /* Pour la compatibilité avec Safari */
    -webkit-text-fill-color: transparent; /* Pour la compatibilité avec Safari */
  }
}

.timeline {
  position: relative;
  height: 1000px;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #C1A221; 
    transform: translateX(-50%);
  }
}

.stage {
  position: relative;
  width: 50%;
  padding: 20px;
  margin: 15px 5px;
  box-sizing: border-box;

  &:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
    margin: 15px 5px;
    .stageContent {
      border-right: 2px solid #C1A221;
    }
    .stageConnector {
      right: -8px;
    }
  }

  &:nth-child(even) {
    float: right;
    text-align: left;
    .stageContent {
      border-left: 2px solid #C1A221;
    }
    .stageConnector {
      left: -8px;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.stageContent {
  position: relative;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1;

  h3 {
    margin: 0 0 10px 0;
    font-size: 2rem;
    color: #100D0D; // Couleur du titre ajustée
  }

  p {
    font-size: 1.6rem;
    color: #100D0D; // Couleur du paragraphe ajustée
  }
}

.stageConnector {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  background-color: #C1A221; // Couleur du connecteur ajustée
  border-radius: 50%;
  z-index: 2;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .timeline:before {
    left: 20px;
  }

  .stage {
    width: 100%;
    float: none;
    text-align: left;
    &:nth-child(odd), &:nth-child(even) {
      .stageContent {
        border-right: none;
        border-left: none;
      }
      .stageConnector {
        left: 4px;
      }
    }
  }
}
