$header-bg: #100D0D;
$cta-bg: #C1A221;
$cta-bg-hover: #f2F2F2;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 100px; // Ajustez selon la taille de votre logo
}

.ctaButton {
  padding: 10px 20px;
  font-weight: bold;
  color: transparent;
  background-image:linear-gradient(to right, #ffcc00, #C1A221);
  background-clip: text;
  -webkit-background-clip: text; /* Pour la compatibilité avec Safari */
  -webkit-text-fill-color: transparent; /* Pour la compatibilité avec Safari */
  color: $header-bg;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.8rem;
  &:hover {
    filter: brightness(0.9);
  }
}
